.cards {
	padding: 44px;
	margin-bottom: 30px;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	max-width: 460px;
	border: none;
	max-height: 570px;
	box-shadow: 0 0 1rem rgb(0, 0, 0, 0.349);
	/* height: 190px; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font: 16px;
	transition: background-color 0.5s;
}

.cards:hover {
	background-color: #ff6c0c;
}

.cards:hover .title,
.cards:hover .title_address,
.cards:hover .address {
	color: #fff;
}

.boxImgSedes {
	overflow: hidden;
}

.boxImgSedes img {
	transition: transform 0.5s;
}

.cards:hover .boxImgSedes img {
	transform: scale(1.1);
}

.container {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

.CardContainer {
	margin: 0 auto;
	display: flex;
	width: 90%;
	justify-content: center;
	gap: 4rem;
}

.main_title {
	margin-top: 88px;
	font-weight: bolder;
	text-align: center;
	color: #053b77;
}

.title_address {
	margin-top: 10px;
	text-align: center;
}

.address {
	color: #053b77;
}

.title {
	color: #ff6c0c;
	padding-bottom: 20px;
	text-align: center;
}

.img {
	padding-bottom: 20px;
}

@media (min-width: 550px) {
	.CardContainer {
		width: 60%;
	}
}
