.title {
	margin-bottom: 2.5em;
	position: relative;
	text-align: center;
}

.title::before {
	content: '';
	position: absolute;
	display: block;
	height: 3px;
	width: 20%;
	background: #ff6c0c;
	bottom: -30px;
	left: calc(38%);
}

.containerSGI {
	padding-bottom: 100px;
}
